.header {
  display: flex;
  height: 15vh;
  width: 100vw;
  background-color: #FFEEFF;
}

.head-title {
  color: green;
  height: 15vh;
  width: 30vw;
  margin-left: 10px;
  font-size: 50px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;
}

.lists {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  list-style: none;
  font-size: 25px;
  width: 70vw;
  height: 15vh;
}

.sign-up1 {
  text-decoration: none;
  margin-right: 3vw;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
}

.logout {
  text-decoration: none;
  margin-right: 3vw;
}

.nickname {
  text-decoration: none;
  margin-right: 3vw;
}

/* ジャンル検索フォーム */
.search-form {
  height: 15vh;
  width: 67vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  white-space: nowrap;
  position: absolute;
  left: 30vw;
}

.search-text {
  display: block;
  font-size: 17px;
  padding-top: 10px;
}

.search-select {
  height: 4vh;
  width: 15vw;
}

.search-btn {
  font-size: 15px;
  padding: 5px;
}