/* 投稿本一覧ページ */
.main {
  text-align: center;
}

.new-str {
  color: orange;
  font-size: 20px;
}

.book-contents {
  height: 80vh;
  position: relative;

}

.book-lists {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #FFEEFF;
}

.list {
  margin: 10px 15px;
  list-style: none;
}

.book-img {
  width: 28vh;
  height: 28vh;
}

.book-info {
  border: solid 1px lightslategray;
  color: black;
}

.new-link {
  text-decoration: none;
}


/* 投稿ボタン */
.listing-btn {
  width: 120px;
  background-color: lightskyblue;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  text-decoration: none;
}

.listing-btn-text {
  color: white;
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.listing-btn-icon {
  width: 60%;
}

