/* 投稿本一覧ページ */
.new-str {
  height: 4vh;
  color: orange;
  font-size: 20px;
  background-color: lightgoldenrodyellow;
  border-bottom: solid 1px orange;
  text-align: center;
}

.book-lists {
  width: 100vw;
  height: 75vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: lightgoldenrodyellow;
  overflow: scroll;
}

.list {
  margin: 10px 15px;
  list-style: none;
}

.book-img {
  width: 20vw;
  height: 28vh;
}

.book-info {
  border: solid 1px lightslategray;
  color: black;
  text-align: center;
}

.book-name {
  border-bottom: 1px solid black;
}

.book-genre {
  border-bottom: 1px solid black;
}

.new-link {
  text-decoration: none;
}


/* 投稿ボタン */
.listing-btn {
  width: 120px;
  background-color: lightskyblue;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  text-decoration: none;
}

.listing-btn-text {
  color: white;
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.listing-btn-icon {
  width: 60%;
}

