.move-top {
  display: block;
  text-decoration: none;
  background-color: #FFEEFF;
}

.search-top {
  height: 80vh;
  width: 100vw;
  background-color: lightgoldenrodyellow;
}

.search-str {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  height: 3vh;
  padding-top: 1vh;
}

.search-index {
  height: 70vh;
  width: 80vw;
  background-color: white;
  margin: 2vh auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: scroll;
}

.search-list {
  margin: 20px 20px;
}

.search-info {
  border: solid 1px black;
  width: 20vw;
  text-align: center;
  font-weight: bold;
}

.search-name {
  color: black;
  overflow: scroll;
}

.search-genre {
  color: black;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.search-user {
  color: black;
  overflow: scroll;
}

.search-nil-message {
  text-align: center;
  margin-top: 10px;
  color: red;
  font-size: 20px;
}