.book-show {
  height: 100vh;
  width: 100vw;
  background-color: #FFEEFF;
  position: relative;
}

.book-box {
  height: 35vh;
  width: 60vw;
  background-color: white;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  border-top: solid 2px skyblue;
}

/* 本情報 */
.book-index {
  text-align: center;
}

.show-img {
  width: 15vw;
  height: 18vh;
}

.book-show-name {
  margin-top: 10px;
  font-size: 20px;
}

.book-show-text {
  width: 40vw;
  height: 7vh;
  padding: 10px 10px;
  border: solid 1px black;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  text-align: left;
  font-weight: bold;
}

.book-show-genre {
  width: 100px;
  padding: 5px 5px;
  border: solid 1px black;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 2vw;
  background-color: yellow;
}

.book-show-nickname {
  width: 20vw;
  text-align: left;
  position: absolute;
  top: 20vh;
  left: 40vw;
  font-weight: bold;
}

/* 編集ボタン */
.edit-btn {
  position: absolute;
  right: 25px;
  width: 50px;
  text-decoration: none;
  padding: 5px;
  border: solid 1px black;
  background-color: lightblue;
}
/* 削除ボタン */
.delete-btn {
  position: absolute;
  top: 60px;
  right: 25px;
  width: 50px;
  text-decoration: none;
  padding: 5px;
  border: solid 1px black;
  background-color: red;
}

/* コメントフォーム */
.comment-box {
  height: 25vh;
  width: 60vw;
  background-color: white;
  position: absolute;
  top: 35vh;
  right: 0;
  left: 0;
  margin: auto;
}

.comment-form {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  height: 24vh;
  width: 50vw;
  border: solid 1px black;
  border-radius: 6%;
  background-color:lightyellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-text {
  height: 10vh;
  width: 40vw;
}

.comment-btn {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  width: 15vw;
}

/* コメント一覧 */
.comment-top {
  border-bottom: double black;
  color: green;
}

.comment-index {
  position: absolute;
  right: 0;
  left: 0;
  margin: 25vh auto;
  height: 35vh;
  width: 60vw;
  background-color:white;
  overflow: scroll;
  font-weight: bold;
}

.comment-login {
  margin: 0 auto;
}

.comment-delete-btn {
  text-decoration: none;
  border: solid 1px black;
  margin-left: 20vw;
  background-color:blue;
  color: white;
  font-size: 18px;
}

/* フッター */
.show-footer {
  position: absolute;
  top: 95vh;
  height: 5vh;
  width: 60vw;
  background-color: #FFEEFF;
  display: flex;
  justify-content: center;
  align-items: center;
}